.spring{
    background-color: rgb(255, 255, 134);
}
.summer{
    background-color: rgb(203, 231, 255);
}
.fall{
    background-color: rgb(250, 149, 144);
}
.winter{
    background-color: rgb(228, 243, 255);
}